# Auto detect text files and perform LF normalization
* text=auto
C 1 spaghetti squash

¼ cup SCD yogurt

1 cup cheddar, shredded

½-1 tsp salt


ook spaghetti squash in about ½ inch (1.3 cm) of water until tender.
Carefully scrape the hot 'macaroni' into large bowl.
Add yogurt and about half of the cheese and stir.
If your macaroni has cooled down too much to melt the cheese, put in in the microwave to reheat just enough to melt the cheese.
Continue adding and melting the cheese.
Add salt to taste.